USE [master]
GO
/****** Object:  Database [DATAWAREHOUSE_Ventas]    Script Date: 18/11/2019 02:32:03 ******/
CREATE DATABASE [DATAWAREHOUSE_Ventas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATAWAREHOUSE_Ventas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TEC_DB\MSSQL\DATA\DATAWAREHOUSE_Ventas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATAWAREHOUSE_Ventas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TEC_DB\MSSQL\DATA\DATAWAREHOUSE_Ventas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATAWAREHOUSE_Ventas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATAWAREHOUSE_Ventas]
GO
/****** Object:  Table [dbo].[DWV_DIM_CLIENTE]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWV_DIM_CLIENTE](
	[idDimCliente] [nvarchar](50) NOT NULL,
	[idDimVendedor] [int] NULL,
	[nombreCliente] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[condicionPago] [nvarchar](250) NULL,
	[limiteCredito] [float] NULL,
	[moneda] [nvarchar](50) NULL,
	[pais] [nvarchar](50) NULL,
	[idZona] [int] NULL,
	[nombreZona] [nvarchar](50) NULL,
	[plazo] [int] NULL,
	[ruta] [nvarchar](50) NULL,
	[idCanalCliente] [int] NULL,
	[nombreCanalCliente] [nvarchar](50) NULL,
	[prioridad] [nvarchar](50) NULL,
 CONSTRAINT [PK_DWV_DIM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[idDimCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWV_DIM_ITEM]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWV_DIM_ITEM](
	[idDimItem] [int] NOT NULL,
	[iDItemAdicional] [int] NULL,
	[descripcion] [nvarchar](250) NULL,
	[grupo] [nvarchar](50) NULL,
	[categoria] [nvarchar](50) NULL,
	[division] [nvarchar](50) NULL,
 CONSTRAINT [PK_DWV_DIM_ITEM] PRIMARY KEY CLUSTERED 
(
	[idDimItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWV_DIM_TIEMPO]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWV_DIM_TIEMPO](
	[idDImTiempo] [date] NOT NULL,
	[dia] [int] NULL,
	[mes] [int] NULL,
	[año] [int] NULL,
	[trimestre] [nvarchar](25) NULL,
 CONSTRAINT [PK_DWV_DIM_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[idDImTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWV_DIM_TIPO_CAMBIO]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWV_DIM_TIPO_CAMBIO](
	[idDimTipoCambio] [float] NOT NULL,
	[idDimTiempo] [date] NULL,
 CONSTRAINT [PK_DWV_DIM_TIPO_CAMBIO] PRIMARY KEY CLUSTERED 
(
	[idDimTipoCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWV_DIM_VENDEDOR]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWV_DIM_VENDEDOR](
	[idDimVendedor] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[comision] [int] NULL,
	[bloqueado] [char](1) NULL,
	[activo] [char](1) NULL,
	[email] [nvarchar](50) NULL,
	[esCobrador] [char](1) NULL,
	[esPromotor] [char](1) NULL,
	[tipo] [nvarchar](50) NULL,
	[canal] [nvarchar](50) NULL,
 CONSTRAINT [PK_DWV_DIM_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[idDimVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWV_FT_FACTURA]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWV_FT_FACTURA](
	[idFTFacturas] [int] NOT NULL,
	[idDimTiempo] [date] NULL,
	[idDimCliente] [nvarchar](50) NOT NULL,
	[idDimItem] [int] NOT NULL,
	[idDimVendedor] [int] NULL,
	[moneda] [nvarchar](50) NULL,
	[tipoCambio] [float] NULL,
	[idDimAlmacen] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [float] NULL,
	[total] [float] NULL,
	[totalUSD] [float] NULL,
	[impuesto] [float] NULL,
	[impuestoUSD] [float] NULL,
	[ganancia] [float] NULL,
	[gananciaUSD] [float] NULL,
 CONSTRAINT [PK_DWV_FT_FACTURA] PRIMARY KEY CLUSTERED 
(
	[idFTFacturas] ASC,
	[idDimCliente] ASC,
	[idDimItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DWV_DIM_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DWV_DIM_CLIENTE_DWV_DIM_VENDEDOR] FOREIGN KEY([idDimVendedor])
REFERENCES [dbo].[DWV_DIM_VENDEDOR] ([idDimVendedor])
GO
ALTER TABLE [dbo].[DWV_DIM_CLIENTE] CHECK CONSTRAINT [FK_DWV_DIM_CLIENTE_DWV_DIM_VENDEDOR]
GO
ALTER TABLE [dbo].[DWV_DIM_TIPO_CAMBIO]  WITH CHECK ADD  CONSTRAINT [FK_DWV_DIM_TIPO_CAMBIO_DWV_DIM_TIEMPO] FOREIGN KEY([idDimTiempo])
REFERENCES [dbo].[DWV_DIM_TIEMPO] ([idDImTiempo])
GO
ALTER TABLE [dbo].[DWV_DIM_TIPO_CAMBIO] CHECK CONSTRAINT [FK_DWV_DIM_TIPO_CAMBIO_DWV_DIM_TIEMPO]
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_CLIENTE] FOREIGN KEY([idDimCliente])
REFERENCES [dbo].[DWV_DIM_CLIENTE] ([idDimCliente])
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA] CHECK CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_CLIENTE]
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_ITEM] FOREIGN KEY([idDimItem])
REFERENCES [dbo].[DWV_DIM_ITEM] ([idDimItem])
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA] CHECK CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_ITEM]
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_TIEMPO] FOREIGN KEY([idDimTiempo])
REFERENCES [dbo].[DWV_DIM_TIEMPO] ([idDImTiempo])
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA] CHECK CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_TIEMPO]
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_VENDEDOR] FOREIGN KEY([idDimVendedor])
REFERENCES [dbo].[DWV_DIM_VENDEDOR] ([idDimVendedor])
GO
ALTER TABLE [dbo].[DWV_FT_FACTURA] CHECK CONSTRAINT [FK_DWV_FT_FACTURA_DWV_DIM_VENDEDOR]
GO
/****** Object:  StoredProcedure [dbo].[generarDimTiempo]    Script Date: 18/11/2019 02:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[generarDimTiempo]
AS

DECLARE @fecha AS DATE
DECLARE @dia AS INT
DECLARE @mes AS INT
DECLARE @año AS INT
DECLARE @trimestre AS NVARCHAR(50)
DECLARE @cantidad_de_dias_a_generar AS INT

-- 3653 dias son 10 años desde el primero de enero del 2010 hasta el 31 de diciembre del 2020
SET @cantidad_de_dias_a_generar = 3653;
SELECT @fecha = convert(datetime, '01/01/2010', 103)

WHILE @cantidad_de_dias_a_generar > 0  
BEGIN 
	SELECT  @dia = DAY(@fecha)
	SELECT  @mes = MONTH(@fecha)
	SELECT  @año = YEAR(@fecha)
	SELECT @trimestre = CASE(@mes) 
			WHEN 1 THEN 'I Trimestre'
            WHEN 2 THEN 'I Trimestre' 
			WHEN 3 THEN 'I Trimestre'
            WHEN 4 THEN 'II Trimestre'  
			WHEN 5 THEN 'II Trimestre'
            WHEN 6 THEN 'II Trimestre'  
			WHEN 7 THEN 'III Trimestre'
            WHEN 8 THEN 'III Trimestre'  
			WHEN 9 THEN 'III Trimestre'       
            ELSE 'IV Trimestre' 
	END;

	INSERT INTO [DATAWAREHOUSE_Ventas].[dbo].[DWV_DIM_TIEMPO]
			   ([idDImTiempo]
			   ,[dia]
			   ,[mes]
			   ,[año]
			   ,[trimestre])
		 VALUES
			   (@fecha
			   ,@dia
			   ,@mes
			   ,@año
			   ,@trimestre)
	SELECT  @fecha = DATEADD(day, 1, @fecha)
	SET @cantidad_de_dias_a_generar = @cantidad_de_dias_a_generar - 1
END
GO
USE [master]
GO
